development:
  adapter: postgresql
  encoding: unicode
  database: selfsp_development
  pool: 5
  username:
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: selfsp_test
  pool: 5
  username:
  password:
